* {
  font-family: Arial, Helvetica, sans-serif;
}

.pre-header {
  background: #316dc3;
  padding: 15px;
}

.social-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-links ul li {
  display: inline-block;
  margin: 0 10px;
}

.social-links ul li a i {
  color: #ffffff;
}

.description {
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  margin-bottom: 0;
}

.donate-btn ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.donate-btn ul li {
  display: inline-block;
  margin: 0;
}

.donate-btn ul li a {
  color: #427900;
  background-color: #f5f5f5;
  padding: 9px 6px;
  font-size: 12px;
}

.donate-btn ul li a:hover {
  text-decoration: none;
  cursor: pointer;
}

/* Header */

.main-header {
  background-color: #f7f8fa;
  position: sticky;
  top: 0;
  border-bottom: 1px solid #eee;
  z-index: 999;
}

.logo-header img {
  max-height: 50px;
}

.menu-items {
  margin-left: auto;
}

.menu-items li {
  margin-right: 18px;
}

.menu-items li a {
  color: #333333 !important;
  font-weight: 600;
  font-size: 15px;
}

.navbar-toggler:focus,
.navbar-toggler:hover {
  outline: none;
}

/*line tickers */

.line-tickers {
  margin-top: 20px;
  background-color: #316dc3;
  color: #ffffff;
}

marquee span {
  font-size: 14px;
}

marquee span a {
  color: #88f900;
  font-weight: 600;
  margin-left: 10px;
}

marquee span a:hover {
  text-decoration: underline;
  color: #ffffff;
}

/* ABout Section */

.about-sec {
  background-color: #f7f8fa;
  margin-top: 20px;
  padding: 60px 0;
}

.intro-head {
  text-align: center;
  color: #316dc3;
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.intro-head span {
  text-align: center;
  color: #427900;
  font-weight: 700;
  text-transform: uppercase;
}

.icon-bottom {
  margin: 0 auto;
  position: relative;
  text-align: center;
  max-width: 150px;
}

.icon-bottom:before {
  content: "";
  height: 2px;
  position: absolute;
  right: 10px;
  top: 30px;
  width: 36px;
  background-color: #427900;
}

.icon-bottom:after {
  content: "";
  width: 36px;
  height: 2px;
  position: absolute;
  left: 10px;
  top: 30px;
  background-color: #427900;
}

.icon-bottom img {
  width: 35px;
}

.intro-para {
  margin-top: 50px;
}

.intro-para p {
  text-align: justify;
  line-height: 1.9em;
  color: #666666;
}

.services-ratio {
  background-color: #2755e9;
  padding: 80px 0;
}

.ratio-box {
  margin-bottom: 30px;
}

.icon-serv img {
  width: 50px;
}

.title-serv h3 {
  margin-top: 20px;
  color: #ffffff;
  font-size: 48px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.ratio-desc h6 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #ffffff;
  margin-top: 10px;
}

.ratio-desc h6 span {
  color: #0f0;
  font-weight: 600;
}

/* Services Secton */

.service-sec {
  background-color: #f7f8fa;
  padding: 60px 0 40px;
}

.main-head {
  margin-bottom: 30px;
}

.icon-servicebox {
  position: relative;
  background: #ffffff;
  padding: 30px;
  margin-bottom: 30px;
  box-shadow: 1px 1px 16px 4px #d0d0d0;
  overflow: hidden;
}

.icon-servicebox .subserv-box {
  transition: transform 0.6s ease;
}

.icon-servicebox .subserv-box:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.service-heading {
  margin: 20px 0 10px;
}

.service-heading h3 {
  text-transform: uppercase;
  color: #316dc3;
  font-size: 18px;
  font-weight: 600;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* Project Section */

.proj-sec {
  padding: 60px 0 40px;
}

.project-head {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #316dc3;
  font-weight: 600;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 25px;
}

.project-head::after {
  background-color: #427900;
  content: "";
  width: 50px;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: -1px;
}

.event-head {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #316dc3;
  font-weight: 600;
  position: relative;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 25px;
}

.event-head::after {
  background-color: #427900;
  content: "";
  width: 50px;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: -1px;
}

.marquee-event marquee {
  color: #666666;
  line-height: 1.9em;
}

.marquee-event marquee a {
  color: #88f900;
}

.project-box {
  background-color: #f7f8fa;
  border: 1px solid #eee;
  padding: 15px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.project-icon {
  text-align: left;
  display: inline-block;
  margin-right: 20px;
}

.proj-desc {
  text-transform: uppercase;
  color: #316dc3;
  display: inline-block;
  font-family: "Merriweather", serif;
  font-weight: 600;
  font-size: 17px;
  margin: 10px 0;
}

/* Media Section */

.media-sec {
  padding: 60px 0 40px;
}

.gallery-img {
  position: relative;
  overflow: hidden;
}

.gallery-img .mediasubbox {
  transition: transform 0.6s ease;
}

.gallery-img .mediasubbox:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.gallery-img .mediasubbox img {
  width: 100%;
}

/** LIGHTBOX MARKUP **/

.lightbox {
  display: none;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
}

.lightbox img {
  max-width: 90%;
  max-height: 80%;
  margin-top: 10%;
}

.lightbox:target {
  outline: none;
  display: block;
}

/*Footer */

.footer-div {
  background-color: #25272e;
  padding: 70px 0 40px;
  margin-top: 40px;
}

.footer-logo {
  margin-bottom: 30px;
}

.footer-logo img {
  width: 100%;
  max-width: 300px;
}

.info-footer {
  margin-bottom: 20px;
}

.info-footer p {
  color: #ffffff;
  font-size: 14px;
}

.list-info ul {
  padding: 0;
  margin: 0;
}

.list-info ul li {
  display: inline-block;
}

.list-info ul li .fa {
  color: #427900;
  margin-right: 4px;
}

.list-info ul li span {
  color: #ffffff;
  margin-left: 5px;
  line-height: 31px;
}

.useful-links {
  margin-top: 20px;
}

.useful-links h5 {
  color: #ffffff;
  font-weight: 600;
  border-bottom: 1px solid #444;
  padding-bottom: 10px;
  margin-bottom: 34px;
}

.useful-links h5:after {
  content: "";
  width: 43px;
  height: 2px;
  background: #99ca3c;
  position: absolute;
  top: 53px;
  left: 16px;
}

.links ul {
  margin: 0;
  padding: 12px 17px;
}

.links ul li {
  margin-bottom: 10px;
  color: #ffffff;
}

.links ul li a {
  color: #ffffff;
}

.footer-social .fa-facebook:hover {
  color: #3b5998;
}

.footer-social .fa-twitter:hover {
  color: #00acee;
}

.footer-social .fa-instagram:hover {
  color: #3f729b;
}

.footer-social .fa-youtube:hover {
  color: #c4302b;
}

.footer-social .fa-whatsapp:hover {
  color: #25d366;
}

.copyright {
  background-color: #316dd9;
  padding: 10px;
}

.copyright-text p {
  color: #ffffff;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* Media Queries */

@media only screen and (min-width: 767px) {
  .menu-items li a {
    width: 75px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
  }
  .menu-items li a:hover {
    background: #316dc3;
    color: #ffffff !important;
  }
}

@media only screen and (max-width: 767px) {
  .menu-items {
    margin-top: 20px;
  }
  .menu-items li {
    margin-right: 0;
    margin-top: 10px;
  }
  .menu-items li a {
    width: 100%;
    display: block;
  }
  .footer-social {
    justify-content: flex-start !important;
  }
  .social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .description {
    margin-bottom: 20px;
  }
  .donate-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .list-info {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 480px) {
  .lightbox img {
    margin-top: 50%;
  }
}
